body {
    background-color: rgba( 27 , 31 , 34 ,0.85 );
}
h1 {
    font-size: 3vw;
    line-height: 1.4;
    letter-spacing: 0.2vw;
    text-align: center;
    color: white;
    margin-top: 5%;
}
.maindiv {
    height: 50%;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url('https://source.unsplash.com/featured/?{nature},{forest},{lanscape},{flower}');
    background-size: 100% 100%;
    transform: translate(-50% , -50%);
    box-shadow: 1px 2px 10px 5px white;
    animation: slider 20s infinite linear;
}
@keyframes slider {
    0%{
        background-image: url('https://source.unsplash.com/featured/?{flower}');
    }
    33%{
        background-image: url('https://source.unsplash.com/featured/?{nature},{forest},{lanscape}');
    }
    66%{
        background-image: url('https://source.unsplash.com/featured/?{nature}');
    }
    100%{
        background-image: url('https://source.unsplash.com/featured/?{nature},{lanscape},{flower}');
    }
}
footer {
    position: fixed;
    bottom: 2px;
    left: 2px;
    
}
.atag {
    font-size: 1vw;
    background: none;
    position: relative;
    left: -1%;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
}
p {
    font-size: 2vw;
    color: rgb(255, 255, 255);
}
.date {
    font-size: 2vw;
    color: rgb(255, 255, 255);
}