body{
    background-color: black;
}

.heading{
    color: #673AB7;
    text-align: center;
    border: 1px solid #673AB7;
    border-radius: 30px;
}

.main_container{
    
    border-radius: 20px;
    background-blend-mode:lighten;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width:500px;
}

.radio{
    font-size: 20px;
}

.inputs{
    border: 0.5px solid black;
    outline: none;
    border-radius: 30px;
    text-align: center;  
    font-weight: bold;
      
}

input:focus{
    border: 3px solid #673AB7;
}

.bmi_card{
    border: 2px solid #673AB7;
}

.bmi_value{
    font-size: 50px;
    font-weight: bold;
}

.btn{
    font-weight: bold;
    border: 1px solid black;
}
.btn:hover{
    background-color: rgb(209, 136, 0);
    border: 1px solid black;
}

.btn2{
    color:white;
    background-color: #673AB7;
    font-weight: bold;
    border: 1px solid black;
    width: 95px;
    height: 37px;
    border-radius: 4px;
}

.btn2:hover{
    background-color: rgb(31, 25, 107);
    border: 1px solid black;
}

.bottom{
    text-align: center;
}

.stats{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

#robin_val,#miller_val{
    color: #673AB7;
}

.robin_row,.miller_row{
    border: 1px solid #673AB7;
    border-radius: 20px;
    font-size: 20px;
}

