* {
  border: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-image: radial-gradient(circle, #26677a, #194350);
  position: relative;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 17vh 0vh 0vh 0vh;
  height: 100%;
  overflow: hidden;
}
h1 {
  color: #ff584f;
  text-shadow: 0 0 10px#d2fff8;
  font-size: 60px;
}
p {
  text-align: center;
  padding: 3vh 0vh;
  font-size: 25px;
  color: #ff635b;
}
.image {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.doc {
  height: 65vh;
  width: auto;
}
.bg {
  transform: rotate(45deg);
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -5%);
  height: auto;
  width: 60%;
  z-index: -10;
  opacity: 0.2;
}
.bg1 {
  left: 0%;
}
.bg2 {
  left: 100%;
}
@media (max-width: 768px) {
  section {
    flex-direction: column;
    text-align: center;
  }
  .doc {
    opacity: 0;
  }
  .bg {
    transform: rotate(0deg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bg1 {
    transform: translate(-50%, -150%);
  }
  .bg2 {
    transform: translate(-50%, 50%);
  }
}
