* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-image: linear-gradient(
                      #7d6cfc,
                      #c635ea                      
                    );
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
}

.action {
  background-color: #ffffff;
  border-radius: 50%;
  bottom: 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 50px;
  left: 25px;
  position: fixed;
  width: 50px;
}

.action .button-plus {
  align-items: center;
  color: #a13dea;
  display: flex;
  font-size: 2rem;
  height: 100%;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.action.active .button-plus {
  transform: rotateZ(135deg);
}

.action ul {
  background-color: #ffffff;
  border-radius: 20px;
  bottom: 55px;
  min-width: 250px;
  opacity: 0;
  padding: 20px;
  position: absolute;
  transition: opacity 0.3s ease,
              transform 0.3s ease,
              visibility 0.3s ease;
  visibility: hidden;
}

.action.active ul {
  opacity: 1;
  transform: translateY(-10px);
  visibility: visible;
}

.action ul li {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  opacity: 0.6;
  padding: 10px 0;
  transition: font 0.3s ease,
              opacity 0.3s ease;
}

.action ul li:hover {
  font-weight: 600;
  opacity: 1;
}

.action ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.action ul li i {
  color: #999999;
  margin-right: 10px;
}

.action ul li span {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.action ul li:hover span {
  transform: translateX(5px);
}