.fa-hand-rock,
.fa-hand-paper,
.fa-hand-scissors {
  font-size: 4rem;
  font-weight: bolder;
  cursor: pointer;
}

.modal-body ul li i {
  font-size: 1.5rem;
  font-weight: 500;
}

.boards,
.select {
  display: none;
}

#playerSide,
#computerSide {
  height: 225px;
}

html, body {
  height: 100%;
}

footer {
  clear: both;
  border: 1px groove #aaaaaa;
  background: blue;
  color: White;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
