@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--site-color);
  color: var(--text-color);
  margin: 0px;
}

:root {
  --text-color: #f87171;
  --site-color: #fff;
}

.container {
  margin: 2rem auto 2rem;
  text-align: center;
  color: var(--text-color);
}

.description {
  font-size: larger;
  margin: 1rem;
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
}

a,
img,
li {
  display: inline;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 40px;
  padding: 1rem 0.2rem;
}

.input {
  font-size: 14px;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--text-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

.btn-check {
  background: var(--text-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: var(--text-color);
  margin: auto;
  display: block;
}

.result {
  display: block;
  font-size: larger;
  font-weight: bold;
  margin: 1rem 0rem;
}

footer {
  text-align: center;
}

hr {
  width: 80%;
}
