@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-small: 10px;
  --font-regular: 16px;
  --font-family: 'Lato', sans-serif;

  --font-weight-regular: 300;
  --font-weight-thin: 100;
 
  --darker-grey: #4d4c4c;
  --dark-grey: #ddd;
  --light-grey: #eee;
  --lighter-grey: #fff;

  --light-black: #333;

  --light-purple: #ab14ab;

  --light-red: #f02323;
  --lighter-red: #e31a1a;

  --light-shadow: rgba(0, 0, 0, 0.4);
  --lighter-shadow: rgba(0, 0, 0, 0.2);
}

body {
  font-size: var(--font-regular);
  font-family: var(--font-family);
  overflow: hidden;
}

/* Container related */
.container {
  display: grid;
  grid-template-columns: 50px auto;
  background-color: var(--light-black);
  color: var(--lighter-grey);
  font-weight: var(--font-weight-thin);
  
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/* Aside related*/
.aside {
  background-color: var(--light-purple);
  display: grid;
  grid-template-rows: 4fr auto auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

/* Icon related */
.icon-block {
  display: block;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.icon-block:hover {
  opacity: 0.5;
}

/* section related */
.section {
  display: grid;
  align-items: center;
  justify-items: center;
  overflow-y: scroll;
}

.title {
  font-size: 2em;
  padding: 1em;
  width: 50vw;
}

/* timeline related */
.timeline-div {
  border-left: 1px solid var(--light-purple);
  position: relative;
  width: 40vw;
}

.timeframe {
  border: 2px solid var(--light-purple);
  background-color: var(--light-purple);
  color: var(--dark-grey);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -26px;

  font-weight: 300;
  padding: 5px;

  width: 50px;
  height: 34px;
}

.timeframe:hover {
  opacity: 0.5;
  cursor: pointer;
}

.actions {
  padding: 4em;
  font-weight: var(--font-weight-regular);
}

li {
  list-style: square;
  padding-top: 0.5em;
}

li:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* media queries */
@media screen and (max-width: 500px) {
  body {
    font-size: var(--font-small);
  }

  .title {
    font-size: 1.5em;
    width: 70vw;
  }
 
  .timeline-div {
    width: 57vw;
  }

  .timeframe {
    width: 40px;
    height: 30px;
    left: -23px;
  }
}


@media screen and (max-width: 320px) {
  .title {
    font-size: 1.5em;
    width: 76vw;
  }

  .timeline-div {
    width: 60vw;
  }

  .timeframe {
    width: 37px;
    height: 26px;
    left: -21px;
  }
}
