@import url('https://fonts.googleapis.com/css?family=Poppins:200,300.400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #111;
    
}
a{
    position: relative;
    width: 180px;
    height: 60px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    margin: 20px;
    transition: 0.5s;
}
a:hover
{
    background: #ec0b36 url(pixel.png);
    transition-delay: 0.8s;
    background-size: 180px;
    animation: animate 0.8s steps(8) forwards;
}
a:nth-child(2):hover
{
    background: #730bec url(pixel2.png);
    transition-delay: 0.8s;
    background-size: 180px;
    animation: animate 0.8s steps(8) forwards;
}
@keyframes animate
{
    0%
    {
        background-position-y: 0;
    }
    100%
    {
        background-position-y: -480px;
    }
}