*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.energy{
    position: relative;
    width: 300px;
    height: 300px;
}
.energy span{
    position: absolute;
    width: calc(300px + var(--i));
    height: calc(300px + var(--i));
    background: var(--clr);
    border-radius: 50%;
    transform-origin: calc(100px + var(--i));
    animation: animate 5s linear infinite;
    animation-duration: calc(var(--d));
    mix-blend-mode: plus-lighter;
    filter: blur(30px);
}
.energy span:nth-child(even)
{
    animation-direction: reverse;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}