@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
  box-sizing: border-box;
}

body {
 background-image: url('background-design.png');
  color: #444;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: red;
  font-size: 10rem;
  text-align: center;
  font-family: Lobster;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}
.somebackground{
    background-color: bisque;
}
.somebackground2{
    background-color:red;
}
.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

.input::placeholder {
  color: #d5d5d5;
}

.input:focus {
  outline-color: rgb(179, 131, 226);
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: black;
  text-decoration: line-through;
}

small {
  color: black;
  text-align: center;
  font-size: 20px;
}
