:link,:visited,ins { text-decoration:none }
nav ul,nav ol { list-style:none }
dl,ul,ol,li,
h1,h2,h3,h4,h5,h6,
html,body,pre,p,blockquote,
form,fieldset,input,label
{ margin:0; padding:0 }
abbr, img, object,
a img,:link img,:visited img,
a object,:link object,:visited object
{ border:0 }
address,abbr { font-style:normal }
iframe:not(.auto-link) { display:none ! important; visibility:hidden ! important; margin-left: -10000px ! important  }
a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
