*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    text-align: center;
    color: #ff6363;
    font-size: x-large;
    background-color: #202040;
    background-image: url("temperature-2-512.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: soft-light;
}
.wrap{
    width: 70%;
    margin: auto;
    padding:30px 50px 30px 50px
}
h1{
    padding-bottom: 30px;
}
.form{
    margin: 0px 500px 0px 500px;
    padding: 10px;
    background-color: #ffbd69;
    color: #543864;
}
a{
    color: #ffbd69;
}