mixin cuboid()
  .cuboid(class!=attributes.class)
    - let s = 0
    while s < 6
      .cuboid__side
      - s++
.scene
  .cloud.cloud--one
    .cloud__shift
      .cloud__body
        div
          +cuboid()(class="cuboid--cloud")
        div
          +cuboid()(class="cuboid--cloud")
        div
          +cuboid()(class="cuboid--cloud")
  .cloud.cloud--two
    .cloud__shift
      .cloud__body
        div
          +cuboid()(class="cuboid--cloud")
        div
          +cuboid()(class="cuboid--cloud")
        div
          +cuboid()(class="cuboid--cloud")
  .cloud.cloud--three
    .cloud__shift
      .cloud__body
        div
          +cuboid()(class="cuboid--cloud")
        div
          +cuboid()(class="cuboid--cloud")
        div
          +cuboid()(class="cuboid--cloud")
  .plane__floater
    .plane__looper
      .plane
        .plane__wheels
          .plane__axle
            +cuboid()(class="cuboid--axle")
          .plane__wheel.plane__wheel--left
            +cuboid()(class="cuboid--wheel-left")
          .plane__wheel.plane__wheel--right
            +cuboid()(class="cuboid--wheel-right")
        .plane__body
          +cuboid()(class="cuboid--body")
        .plane__nose
          +cuboid()(class="cuboid--nose")
        .plane__propellor
          .propellor
        .plane__screen
          +cuboid()(class="cuboid--screen")
        .plane__wings.wings
          .wings__top
            +cuboid()(class="cuboid--wings-top")
          .wings__ghost
            +cuboid()(class="cuboid--wings-ghost")
          .wings__bottom
            +cuboid()(class="cuboid--wings-bottom")
          .wings__strobe.wings__strobe--left
            +cuboid()(class="cuboid--strobe")
          .wings__strobe.wings__strobe--right
            +cuboid()(class="cuboid--strobe")
        .plane__tail
          +cuboid()(class="cuboid--tail")
        .plane__stabilizer.plane__stabilizer--horizontal
          +cuboid()(class="cuboid--horizontal-stabilizer")
        .plane__stabilizer.plane__stabilizer--vertical
          +cuboid()(class="cuboid--vertical-stabilizer")
        .plane__beacon
          +cuboid()(class="cuboid--beacon")