* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}


/* Container */

.main-container {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-color-container {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 3px grey;
  color: #4067f9;
  padding: 20px;
  border-radius: 5px;
  background-color:  #d5deff;
  margin: 30px 0;
}


/* Color Code */

.modified-color {
  margin-left: 10px;
  padding: 8px;
  border-radius: 5px;
  background-color: #4067f9;
  color: #fff;
}


/* Button */

.btn {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #4067f9;
  background-color: #4067f9;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: #2853f7;
  transition: 0.75s;
  box-shadow: 1px 1px 4px grey;
}


/* Media Query */

@media (max-width: 375px) {
  .bg-color-container {
    flex-direction: column;
  }
  
  .modified-color {
    margin-top: 10px;
  }
}