* {
	font-family: 'Kumbh Sans';
}

h1 {
	color: hsl(229, 23%, 23%);
	font-size: 23px;
}

h2 {
	font-weight: 700;
	color: hsl(229, 23%, 23%);
	font-size: 24px;
}

h3 {
	font-size: 18px;
	padding-bottom: 10px;
	color: hsl(227, 10%, 46%);
}

h5 {
	color: hsl(227, 10%, 46%);
	font-size: 12px;
	letter-spacing: 1px;
}

.container-fluid {
	height: 100vh;
	background-color: hsl(185, 75%, 39%);
}

.container {
	width: 350px;
	background-color: white;
	position: relative;
	border-radius: 10px;
	box-shadow: 4px 5px 20px hsl(185, 67%, 35%);
}

.gradient-svg {
	position: absolute;
	left: 0;
	border-radius: 10px 10px 0 0;
}

.profile {
	margin-top: 85px;
	z-index: 2;
	position: relative;
	border-radius: 50%;
	border: 5px solid white;
	margin-bottom: 20px;
}

.age {
	padding: 0 10px;
	color: hsl(227, 10%, 46%);
}

.flex-box-container {
	display: flex;
	justify-content: center;
}

.flex-item {
	margin: 10px 20px;
	padding: 2px 5px;
}
