* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: Helvetica, sans-serif;
    background-color:black;
}

#header {
    margin-left: 10px;
    line-height: 3.3em;
    color:blanchedalmond;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#chatArea
{
    position: absolute;
    top: 60px;
    width: calc(100% - 25px);
    height: calc(80%);
    margin-left: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid rgb(255, 255, 255);
}

.chatArea__text {
    font-size: 16px;
    line-height: 1.25em;
    text-indent: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: rgb(251, 255, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#inputArea {
    position:absolute;
    bottom:12px;
    width:100%;
}

#inputArea__name {
    margin-left: 10px;
    width:15%;
    height:30px;
    resize: none;
    border: 1px solid black;
    font-size: 16px;
    white-space: pre;
    overflow-wrap: normal;
    line-height: 1.7em;
    text-indent: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#inputArea__message {
    margin-left: 5px;
    width:74%;
    height:30px;
    resize: none;
    border: 1px solid black;
    font-size: 16px;
    white-space: pre;
    overflow-wrap: normal;
    line-height: 1.7em;
    text-indent: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#inputArea__sendButton {
    margin-left: 10px;
    position: absolute;
    width:8%;
    height:30px;
    border: 1px solid black;
    font-size: 15px;
    background-image: linear-gradient(red, blue);
    color:blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
