body {
    background-image: url("loanbank-picture.png");
    background-color: #cccccc;
   }
#loancal {

    width: 375px;
    height:300px;
    background-color: #1D2951;
    color: white;
    margin-left:200px;
    margin-top:100px;
    padding-left:100px;
    padding-top:20px;
 
 }
 #months {
 
     /*margin-left:5px;*/
     width:190px;
     height:30px;
 }
 #amount {
 
    width:190px;
     height:30px;
 }
 #interest_rate {
    width:190px;
    height:30px;
   
 }
 h1{
 
     font-size:40px;
 
     /*margin-top:0px;*/
 }