<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/../css/main.css">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  
  <title>Space tourism website</title>
</head>
<body class="body-crew">

    <script src="../js/navTemplateLiteral.js"></script>
  
    <h5 class="crew-greeting"><span class="grey-fade">02</span> Meet your crew</h5>

    <div class="container-change-order">

        <div id="imageLink"></div>
        
        <hr class="hr-line">
        <ul class="crew-list">
            <li class="li0"></li>
            <li class="li1"></li>
            <li class="li2"></li>
            <li class="li3"></li>
        </ul>
        
        <div id="rest-content"></div>
    </div>

    <script src="../js/crew.js"></script>

  <script src="../js/nav-motion.js"></script>
</body>
</html>