<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/../css/main.css">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">

  <title>Space tourism website</title>
</head>
<body class="body-destination">

  <script src="../js/navTemplateLiteral.js"></script>

  <h5 class="destination-greeting"><span class="grey-fade">01</span> Pick your destination</h5>

  <!-- <img class="planet-img" src="../assets/destination/image-moon.png" alt="image_of_the_moon"> -->
  <div id="planet-container"></div>

<ul class="planet-list">
  <li class="list0">Moon</li>
  <li class="list1">Mars</li>
  <li class="list2">Europa</li>
  <li class="list3">Titan</li>
</ul>

<div id="body-information"></div>

  <script src="../js/destination.js"></script>
  <script src="../js/nav-motion.js"></script>
</body>
</html>