<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/../css/main.css">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">

  <title>Space tourism website</title>
</head>
<body class="body-destination">

  <script src="../js/navTemplateLiteral.js"></script>

  <h5>01 Pick your destination</h5>

  <img class="planet-img" src="../assets/destination/image-moon.png" alt="image_of_the_moon">


<ul class="planet-list">
  <li><h5><a href="http://localhost:3000/views/destination-moon">Moon</a></h5></li>
  <li><h5><a href="http://localhost:3000/views/destination-mars">Mars</a></h5></li>
  <li><h5><a href="http://localhost:3000/views/destination-europa">Europa</a></h5></li>
  <li><h5><a href="http://localhost:3000/views/destination-titan">Titan</a></h5></li>
</ul>

  
  <h2>Moon</h2>

  <p>See our planet as you’ve never seen it before. A perfect relaxing trip away to help 
  regain perspective and come back refreshed. While you’re there, take in some history 
  by visiting the Luna 2 and Apollo 11 landing sites.</p>

  <hr>

  <h5>Avg. distance</h5>
  <h4>384,400 km</h4>

  <h5>Est. travel time</h5>
  <h4>3 days</h4>

  <script src="../js/nav-motion.js"></script>
</body>
</html>