<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/../css/main.css">
  
  <link rel="icon" type="image/png" sizes="32x32" href="/../assets/favicon-32x32.png">

  <title>Space tourism website</title>
</head>
<body class="body-index">

    <script src="../js/navTemplateLiteral.js"></script>

    <div class="desktop-split">

      <div class="left-container">
        
        <h5 class="home-pre-title">So, you want to travel to</h5>
        
        <h1 class="home-title">Space</h1>
        
        <p class="home-content">Let’s face it; if you want to go to space, you might as well genuinely go to 
          outer space and not hover kind of on the edge of it. Well sit back, and relax 
          because we’ll give you a truly out of this world experience!</p>
          
        </div>
        <h4 class="home-explore-btn">Explore</h4> 
      </div>


  <script src="../js/nav-motion.js"></script>
</body>
</html>