<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/../css/main.css">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  
  <title>Space tourism website</title>
</head>
<body class="body-technology">

        
        <script src="../js/navTemplateLiteral.js"></script>
        
        <h5 class="technology-greeting"><span class="grey-fade">03</span> Space launch 101</h5>
        
        <div class="tech-grid-container">

            
            <div id="tech-image-container"></div>
            
            <div class="tech-list">
                <li class="l0">1</li>
                <li class="l1">2</li>
                <li class="l2">3</li>
            </div>
            
            <h5 class="tech-greeting">The terminology...</h5>
            
            <div id="tech-content-container"></div>
        </div> <!-- ending of tech grid container-->
            
            <script src="../js/technology.js"></script>
            <script src="../js/nav-motion.js"></script>
    </body>
    </html>