/*** 
set the width and height to match your images 
**/

#slideshow {
    position:relative;
    height:350px;
	z-index:-1;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}

#slideshow img {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
			
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
			
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}
.overlay{
	min-height:1px;
	height:100%;
	width:100%;
	background: url('../images/pattern.png') left top repeat fixed;
}		
@media screen and (max-width: 1024px){
	img.bg {
	left: 50%;
	margin-left: -512px; 
}
}
		
#page-wrap { 
	position: relative;
	width: 400px; 
	margin: 50px auto; 
	padding: 20px; 
	background: #fff; 
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; 
}

p { 
	font: 15px/2 Arial; 
	margin: 0 0 30px 0; 
	color: #fff;
}

#content {
	width: 920px;
	margin: 0 auto;
	background: rgba(11,11,11, 0.5);
	padding: 20px;
}

#content h1 {
	text-transform: uppercase;
	font-family: 'Arial';
	color: #fff;
}

#content a {
	color: #a82711;
	font-weight: bold;
	text-transform: uppercase;
	background: #000;
	padding: 10px;
}
