* {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }
  .cont_principal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,rgba(251, 250, 246, 1) 9%,rgba(212, 206, 191, 1) 74%,rgba(212, 206, 191, 1) 74%,rgba(212, 206, 191, 1) 100%);
  }
  .cont_central {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -200px;
  }
  .cont_modal {
    position: relative;
    width: 300px;
    height: 400px;
    transition: all 0.5s;
    transition-delay: 0.7s;
    transition-delay: 0.7s;
  }
  .cont_photo {
    position: relative;
    width: 300px;
    height: 440px;
    overflow: hidden;
    background-color: #eee;
    border-radius: 5px;
    top: -20px;
    float: left;
    z-index: 2;
    transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
  }
  .cont_img_back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
  }
  .cont_img_back > img {
    width: 100%;
    opacity: 0.7;
    transition: all 0.5s;
    transition: all 1s;
  }
  .cont_img_back:hover > img {
    transform: scale(1.5);
  }
  .cont_text_ingredients {
    position: absolute;
    width: 0px;
    top: 0px;
    left: 290px;
    margin-left: 10px;
    height: 400px;
    float: left;
    border-radius: 5px;
    z-index: 3;
    box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg,rgba(251, 249, 249, 1) 28%,rgba(232, 234, 237, 1)100%);
    transition: all 0.5s;
    transition-delay: 0.7s;
    transition-delay: 0.7s;
  }
  .cont_mins {
    position: relative;
    float: left;
    width: 100%;
  }
  .sub_mins {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 16px;
    margin-bottom: 0px;
    opacity: 0;
    transition: all 0.5s;
    transition: all 0.5s;
    transition-delay: 1s;
    transition-delay: 1s;
  }
  .sub_mins > h3 {
    font-size: 24px;
    margin-top: 7px;
    margin-bottom: -15px;
  }
  .sub_mins > span {
    font-size: 9px;
    font-weight: 700;
  }
  .cont_servings {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 16px;
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0.7s;
    transition-delay: 0.7s;
  }
  .cont_servings > h3 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: -15px;
  }
  .cont_servings > span {
    font-size: 9px;
    font-weight: 700;
  }
  .cont_icon_right {
    position: relative;
    float: right;
    margin-top: 16px;
  }
  .cont_icon_right > a {
    margin: 16px;
    margin-top: 16px;
    color: #fff;
  }
  .cont_detalles {
    position: absolute;
    bottom: -185px;
    height: 200px;
    border-radius: 5px;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.65) 68%,rgba(0, 0, 0, 0.65) 100%,rgba(0, 0, 0, 0.65)101%
    );
    width: 100%;
    transition: all 0.5s;
    transition-delay: 1.2s;
    transition-delay: 0.7s;
  }
  .cont_detalles > h3 {
    margin-top: 50px;
    color: #fff;
    font-size: 24px;
  }
  .cont_detalles > p {
    color: #fff;
    width: 80%;
    text-align: left;
    font-size: 14px;
  }
  .cont_tabs {
    position: relative;
    float: left;
    width: 410px;
    height: 60px;
    border-bottom: 3px solid #ededec;
  }
  .cont_tabs > ul {
    width: 300px;
    background-color: #eee;
  }
  .cont_tabs > ul > li {
    position: relative;
    float: left;
    width: 50%;
    list-style: none;
  }
  .cont_tabs > ul > li > a {
    border-top: 7px solid #0096FF;
    position: relative;
    display: block;
    float: left;
    padding-top: 15px;
    color: #241c3e;
    text-decoration: none;
    margin-left: 15px;
    font-size: 14px;
  }
  .cont_tabs > ul > li:first-child > a {
    border-top: 7px solid rgba(237, 52, 108, 0);
    margin-top: 0px;
    color: #9a96a4;
    transition: all 0.5s;
    transition: all 0.2s;
  }
  .cont_tabs > ul > li:first-child > a:hover {
    border-top: 7px solid #0096FF;
    padding-top: 15px;
    color: #241c3e;
    margin-top: 0px;
  }
  .cont_btn_open_dets {
    position: absolute;
    right: -15px;
    top: 50%;
  }
  .cont_btn_open_dets > a {
    display: block;
    padding-top: -5px;
    width: 30px;
    height: 30px;
    background-color: #0096FF;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0px 0px 20px -2px #0096FF;
    transition: all 0.5s;
    transition: all 0.5s;
    transform: rotate(180deg);
  }
  .cont_btn_open_dets > a > i {
    margin-top: 4px;
  }
  .cont_title_preparation {
    position: relative;
    float: left;
    margin: 10px 0px;
    width: 410px;
  }
  .cont_title_preparation > p {
    font-weight: 700;
    font-size: 14px;
    margin-left: 40px;
    text-align: left;
    color: #36354e;
  }
  .cont_info_preparation {
    position: relative;
    float: left;
  }
  .cont_info_preparation > p {
    margin: 5px 0px;
    margin-left: 50px;
    border-left: 2px solid #e3e3e3;
    font-size: 12px;
    padding: 20px 0px;
    padding-left: 20px;
    text-align: left;
    padding-right: 15px;
    color: #565656;
  }
  .cont_btn_mas_dets {
    position: absolute;
    bottom: 0px;
    left: 50%;
  }
  .cont_btn_mas_dets > a {
    color: #36354e;
  }
  .cont_over_hidden {
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .cont_text_det_preparation {
    position: relative;
    width: 410px;
  }
  .cont_modal_active > .cont_text_ingredients > .cont_btn_open_dets > a {
    transform: rotate(0deg);
  }
  .cont_modal_active > .cont_text_ingredients {
    width: 410px;
    left: 285px;
    z-index: 1;
    box-shadow: 15px 20px 70px -5px rgba(0, 0, 0, 0.2);
  }
  .cont_modal_active {
    width: 700px;
  }
  .cont_modal_active > .cont_photo {
    box-shadow: 25px 10px 70px -5px rgba(0, 0, 0, 0.3);
  }
  .cont_modal_active > .cont_photo > .cont_mins > .sub_mins {
    opacity: 1;
  }
  .cont_modal_active > .cont_photo > .cont_servings {
    opacity: 1;
  }
  .cont_modal_active > .cont_photo > .cont_detalles {
    bottom: 0px;
  }