*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right ,#39797a, #856a89);
  
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification{
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  position: relative;
}
.notification:hover{
  background-color:#665777;
  
}
.notification:active{
  background-color:crimson;
  box-shadow: 0 0 10px inset;
  border: 3px solid black;
  
}
.num{
  position: absolute;
  top: -2px;
  right: -2px;
  background: rgb(230, 85, 85);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
}
.notification input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
.notification input::before{
  content: '\f0f3';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  font-size: 1.8em;
  color: rgb(43, 43, 43);
}
.notification .box{
  width: 200px;
  height: 250px;
  background: white;
  position: absolute;
  border-radius: 20px;
  top: -250px;
  left: -200px;
  clip-path: circle(0% at 100% 100%);
  transition: clip-path 0.4s;
}
.notification input:checked ~ .box{
  clip-path: circle(141.4% at 100% 100%);
}
.notification .heading{
  margin: 0.2em auto;
  background: rgb(43, 43, 43);
  border-radius: 18px;
  color: white;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.432);
  width: 95%;
  height: 40px;
}
.notification_box{
  margin: 0.4em auto 0 auto;
  width: 85%;
  height: 190px;
  overflow-x: auto;
}
.notification_box p{
  margin-bottom: 0.4em;
  color: rgb(43, 43, 43);
}
.notification_box::-webkit-scrollbar{
  width: 2px;
}
.notification_box::-webkit-scrollbar-thumb{
  background: #f1f1f1;
}
.notification_box::-webkit-scrollbar-thumb{
  background: #888;
}
.notification_box::-webkit-scrollbar-thumb:hover{
  background: #555;
}