*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(238, 234, 234, 0.205);
  background-color: #bdb1b1;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #1d1c1c;
  display: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    100% 1000%,
    100% 100%,
    from(#424141),
    to(#413e3f),
    color-stop(0.6, #363434)
  );
}

body {
  background-image: url("https://source.unsplash.com/1600x900/?music");
  font-family: cursive;

  margin: 0;
}
.listen {
  text-align: center;
  margin-left: 400px;
  color: chartreuse;
}
.startplaying {
  text-align: center;
  margin-left: 400px;
  color: chartreuse;
}
.main {
  position: relative;
}
.backbutton {
  position: absolute;
  left: 200px;
}
.container {
  background-color: rgba(0, 0, 0, 0.6);
  font-family: monotype corsiva;
  word-spacing: 6px;

  color: white;
  width: 100%;
  text-align: center;
  border-radius: 16px;

  justify-content: center;
  position: relative;
  top: 30vh;
}
.hidden {
  display: none;
}
.right {
  color: green;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}
.align {
  display: inline-flex;
  text-align: center;
  justify-content: center;
}
.wrong {
  font-weight: bolder;

  font-size: x-large;
}
.bt {
  height: 30px;
  width: 30px;
  border-radius: 40px;
  margin: 0px 0px 25px 20px;
  border: none;
}
#btn1 {
  background-color: green;
}
#btn2 {
  background-color: red;
}
.piano {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: absolute;
}
.loose {
  display: none;
}

.won {
  display: none;
}
.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 100px;

  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 10px 10px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #eee 0%, #fff 100%);
}

.white.active {
  border-top: 1px solid #777;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
    -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
}

.black {
  --width: 60px;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;

  border: 1px solid #000;
  border-radius: 0 0 6px 6px;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.2) inset,
    0 -10px 4px 6px rgba(0, 0, 0, 0.6) inset, 0 4px 8px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #222 0%, #555 100%);
}

.black.active {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #444 0%, #222 100%);
}

.piano div:first-child {
  border-radius: 5px 0 5px 5px;
}

.piano div:last-child {
  border-radius: 0 5px 5px 5px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 45, 45, 0.52);
  backdrop-filter: blur(3px);
  z-index: 5;
}
