/* scrollbar start  */

::-webkit-scrollbar {
    width: 5px;
    border-radius: 50%;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: black;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(47, 120, 255);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(53, 0, 199);
}


/* scrollbar end  */

.grow {
    transition: all 0.3s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

body {
    height: 100vh;
    background-color: #ececec;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('./images/background.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.head {
    padding: 5px 10px;
    margin-top: 2vh;
    background-color: #ececec;
    margin-right: 5% !important;
}

.rights {
    color: black;
    padding: 5px;
    font-size: 0.9em;
    background-color: #ececec;
    margin-top: 5vh;
}

.card {
    background-color: rgba(209, 209, 209);
    margin-top: 13vh;
}

.scroll-img {
    width: 100px;
    height: 100px;
    margin: 15vh 0;
    background: white;
    border-radius: 50%;
}

.scroll-img:hover {
    width: 100px;
    height: 100px;
    margin: 15vh 0;
    background: #3baf8a;
    border-radius: 50%;
}

.row {
    margin-left: 15px;
    margin-right: 15px;
}