* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: Quicksand;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
  }
  body #keyboard, body kbd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ccc;
    border: 0.2em solid #888b8d;
    text-align: center;
    font-family: Quicksand;
  }
  body kbd {
    flex: 1;
  }
  body .keyboard-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
  body div#text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 20em;
    height: 24vh;
    max-height: 24vh;
    font-size: 3em;
    margin-bottom: 4vh;
    margin-left: 10vw;
    text-align: center;
    overflow: auto;
    align-self: flex-end;
    position: relative;
  }
  body #keyboard {
    width: 56em;
    padding: 0.4em 0.4em  0.8em 0.4em;
    box-shadow: 0 0.4em 0 #888b8d;
    margin-left: 10vw;
  }
  body #keyboard kbd {
    line-height: 3.2em;
    height: 3.2em;
    width: 3.2em;
    margin: 0.25em;
    text-align: center;
    color: #fff;
    background-color: #53565a;
    transition: background, position, top, box-shadow 0.1s;
    box-shadow: 0px 2px 0px #888b8d;
  }
  body #keyboard kbd.long {
    flex-grow: 1;
    flex: 2;
  }
  body #keyboard kbd.longer {
    flex-grow: 2;
    flex: 3;
  }
  body #keyboard kbd.spacebar {
    flex-grow: 14;
    flex: 6;
  }
  body #keyboard .operationKey {
    text-transform: none !important;
  }
  body #keyboard .pressed {
    background: #ffd100;
    position: relative;
    top: 2px;
    box-shadow: none;
  }
  body pre {
    height: 3vh;
    line-height: 3vh;
  }
  body .uppercase kbd {
    text-transform: uppercase;
  }
  
  @media (min-width: 768px) {
    body {
      font-size: 10px;
    }
  }
  @media (min-width: 960px) {
    body {
      font-size: 12px;
    }
  }
  @media (min-width: 1080px) {
    body {
      font-size: 14px;
    }
  }