@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1509909756405-be0199881695?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80");
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
}

.container {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  text-align: center;
  max-width: 100%;
  width: 650px;
  margin: 0 auto;
  position: relative;
}

h3 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
}

.joke {
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 1.8;
  margin: 50px auto;
  max-width: 600px;
}

.btn {

  background: linear-gradient(#f3594e, #f73426);
  color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(#f1776f, #f55549);
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}
